<div class="users-container">
  <div class="users-menu">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i [class]="isSidebarOpen ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
      <span class="toggle-text">{{ isSidebarOpen ? "Fechar Lista de Usuários" : "Abrir Lista de Usuários" }}</span>
    </button>
    <div *ngIf="isSidebarOpen">
      <ul>
        <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="handleUserClick(user)">
          {{ user.name }}
        </li>
      </ul>
      <p *ngIf="users.length === 0">Sem usuários disponíveis.</p>
    </div>
  </div>

  <div *ngIf="selectedUser" class="totem-list-container animate__animated animate__fadeIn">
    <h3>Totens do Usuário: {{ selectedUser.name }}</h3>
    <app-totem-list *ngIf="clienteSelecionadoId" [userId]="clienteSelecionadoId"></app-totem-list>
  </div>
</div>
