<div class="totem-container">
  <!-- Formulário para adicionar um novo totem -->
  <form class="totem-form" [formGroup]="newTotemForm" (ngSubmit)="handleAddTotem()">
    <input class="totem-input" formControlName="title" placeholder="Título do Totem">
    <input class="totem-input" formControlName="description" placeholder="Descrição do Totem">
    <input class="totem-input" formControlName="videoUrl" placeholder="URL do Vídeo">
    <input class="totem-input" formControlName="address" placeholder="Endereço do Totem">
    <button class="totem-button totem-button--primary" type="submit">
      Adicionar Totem
    </button>
  </form>

  <!-- Mensagem de erro -->
  <div *ngIf="errorMessage" class="totem-error">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Lista de totens -->
  <ul class="totem-list">
    <li class="totem-item" *ngFor="let totem of totems">
      <div class="totem-card">
        <h3 class="totem-title">{{ totem.title }}</h3>
        <p class="totem-description">{{ totem.description }}</p>
        <p class="totem-video-url">{{ totem.videoUrl }}</p>
        <p class="totem-address">{{ totem.address }}</p>
        <div class="totem-buttons">
          <button class="totem-button totem-button--primary" (click)="setEditingTotem(totem)">Editar</button>
          <button class="totem-button totem-button--danger" (click)="handleDeleteTotem(totem._id)">Deletar</button>
          <a class="totem-button totem-button--primary" [routerLink]="['/totem', totem._id] " >Ver Totem</a>
                </div>

        <!-- Formulário de edição dentro do card -->
        <form *ngIf="editingTotem === totem" class="totem-form" [formGroup]="editTotemForm" (ngSubmit)="handleEditTotem()">
          <input class="totem-input" formControlName="title" placeholder="Título do Totem">
          <input class="totem-input" formControlName="description" placeholder="Descrição do Totem">
          <input class="totem-input" formControlName="videoUrl" placeholder="URL do Vídeo">
          <input class="totem-input" formControlName="address" placeholder="Endereço do Totem">
          <button class="totem-button totem-button--primary" type="submit" [disabled]="editTotemForm.invalid">
            Salvar Alterações
          </button>
          <button class="totem-button totem-button--secondary" type="button" (click)="cancelEditing()">Cancelar</button>
        </form>
      </div>
    </li>

  </ul>
</div>
