<div class="main-container">
  <ng-container *ngIf="totem; else notFound">
    <div class="video-container">
      <iframe
        *ngIf="totem.videoUrl"
        [src]="getSafeVideoUrl(totem.videoUrl)"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        title="Vídeo do Totem"
        class="video-iframe"
      ></iframe>
      <div class="content">
        <h2>{{ totem.title }}</h2>
        <p>{{ totem.description }}</p>
        
        <table>
          <tr>
            <th>Avisos do Condomínio</th>
            <th>Área Comum</th>
            <th>Horário de Funcionamento</th>
          </tr>
          <tr>
            <td>Manutenção na rede elétrica dia 22/02</td>
            <td>Piscina</td>
            <td>07:00 - 22:00</td>
          </tr>
          <tr>
            <td>Reunião de moradores dia 25/02 às 19:00</td>
            <td>Academia</td>
            <td>05:00 - 23:00</td>
          </tr>
          <tr>
            <td>Coleta seletiva todas as quartas-feiras</td>
            <td>Salão de Festas</td>
            <td>08:00 - 00:00</td>
          </tr>
         
        </table>

        
      </div>
    </div>

  </ng-container>

  <ng-template #notFound>
    <p>Vídeo indisponível</p>
  </ng-template>
</div>
