<div *ngIf="tv" class="container">
  <!-- Div do anúncio (esquerda) -->
  <div *ngIf="tv.vimeoLink" class="ad">
    <video width="600" autoplay loop muted controls>
      <source src="../../../../assets/videos/anuncio_3 (540p).mp4" type="video/mp4">
      Seu navegador não suporta a tag de vídeo.
    </video>
    <!-- <iframe
    id="ad"
      [src]="sanitizeUrl(tv.vimeoLink + '?autoplay=1&loop=1')"
      frameborder="0"
      allowfullscreen
    ></iframe> -->
  </div>

  <!-- Div do vídeo (direita) -->
  <div *ngIf="tv.youtubeLink" class="tv">
    <iframe
      id="pluto-player"
      [src]="sanitizeUrl(tv.plutoLink)"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <app-tvs-info></app-tvs-info>
  </div>
</div>

<div *ngIf="!tv">
  <p>Carregando dados da TV...</p>
</div>
