body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;

}

.tv {
  width: 68.5%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  
}

.tv iframe {
  width: 100%;
  height: 70%;
}

.fullscreen-btn {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #ff5722;
  color: white;
  border-radius: 5px;
}

.fullscreen-btn:hover {
  background-color: #e64a19;

}

.ad {
  width: 32%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad video {
  width: 100%;
  height: 100%;
}
